.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: -webkit-fill-available;
    background-color: black;
    color: azure;
    height: 32px;
    z-index: 5;
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) {
       .nav-container {
         width: 100vw;
       }
    }