.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: -webkit-fill-available;
    background-color: black;
    color: azure;
    height: 32px;
    z-index: 5;
}

.night-mode-stuff {
    background-color: darkgrey;
    color: white;
    border-color: black !important;
}

body.light-mode {
    background-color: #fff !important;
    color: #333 !important;
    transition: background-color 0.3s ease !important;
}

body.dark-mode {
    background-color: #1a1919 !important;
    color: #999 !important;
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) {
       .nav-container {
         width: 100vw;
       }
    }