.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
    height: 800px;
    /* background-color: palegreen; */
}

.contact-filler {
    height: 150px;
}

.contact-links {
    font-size: 32px;
}