.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
    height: 800px;
}

.contact-filler {
    height: 350px;
    background-color: #1a1919;
}

.link-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: #1a1919;
}

.contact-links {
    font-size: 48px;
    color: #0056B3 !important;
    text-decoration: none !important;
}
 
#sky {
    top: inherit !important;
    height: 800px !important;
}

.btn-primary {
    color: #fff;
    background-color: white !important;
    border-color: #fff;
}

.btn-primary:hover {
    color: #fff;
    text-decoration: none !important;
    background-color: #fff;
    border-color: #fff;
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) {
       #sky {
         width: 100vw;
         height: 40vh !important;
       }
       .contact-container {
           height: 40vh;
       }
    }

